@model CardTransactionViewModel

@{
    ViewData["Title"] = "Confirm Deposit";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="card mb-4 w-50 mx-auto">
        <div class="card-body bg-dark-1 text-center">
            <h3 class="text-info">@Model.ActionTitle</h3>
            <h4 class="mt-4">
                <p>Are you sure you want to deposit:</p>
                <p><strong>@Model.Amount @Model.Card.Currency</strong></p>
                <p>to your wallet</p>
                <strong>@Model.Wallet.Name</strong>?
            </h4>
            <h4 class="text-warning mt-3">
                The transaction fee will be
                <strong>@Model.Fee @Model.Card.Currency</strong>.
            </h4>

            <div class="mt-4">
                <form asp-action="DepositToWallet" method="post" class="d-inline-block">
                    @Html.HiddenFor(m => m.WalletId)
                    @Html.HiddenFor(m => m.CardId)
                    @Html.HiddenFor(m => m.Amount)
                    @Html.HiddenFor(m => m.Fee)
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-check"></i> Yes, proceed
                    </button>
                </form>
                <a href="@Url.Action("Deposit", "Card")" class="btn btn-secondary ms-2">
                    <i class="fas fa-times"></i> Go back
                </a>
            </div>
        </div>
    </div>
</div>
