<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VaulTora</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VirtualWallet.WEB.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="bg-dark-3">
    <header>
        <!-- Main Navigation -->
        <nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow bg-dark-2">
            <div class="container-fluid">
                <!-- Left-aligned Brand -->
                <a class="navbar-brand text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Index">VaulTora</a>

                <!-- Right-aligned Navbar Links -->
                <div class="d-flex align-items-center ms-auto">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("About", "Home")">About us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("FAQ", "Home")">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("Contacts", "Home")">Contacts</a>
                        </li>
                    </ul>
                    @if (ViewBag.IsAuthenticated)
                    {
                        <button class="btn btn-outline-light ms-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#dashboardOffcanvas" aria-controls="dashboardOffcanvas">
                            Hello, @ViewBag.Username!
                        </button>
                    }
                    @if (!ViewBag.IsAuthenticated)
                    {
                        <a class="nav-link text-white" asp-area="" asp-controller="Authentication" asp-action="Login">Login</a>
                    }

                </div>
            </div>
        </nav>
    </header>
    <!-- Offcanvas Sidebar -->
    <div class="offcanvas offcanvas-end bg-dark text-white" tabindex="-1" id="dashboardOffcanvas" aria-labelledby="dashboardOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="dashboardOffcanvasLabel">Dashboard</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
            </div>

            <ul class="nav flex-column">

                <li>
                    <form class="d-flex mb-4" asp-controller="User" asp-action="SearchUsers" method="get">
                        <input class="form-control me-2" type="search" name="searchTerm" placeholder="Username / Email" aria-label="Search" />
                        <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("Profile", "User" , new { id = ViewBag.UserId})">
                        <i class="bi bi-person me-2"></i> Profile
                    </a>
                </li>
                @if (ViewBag.UserRole == "Admin")
                {

                    <li class="nav-item mt-4">
                        <a class="nav-link text-white" href="@Url.Action("AdminPanel", "User")">
                            <i class="bi bi-person-circle"></i> Admin panel
                        </a>
                    </li>
                }
                @if (ViewBag.UserRole == "Staff" || ViewBag.UserRole == "Admin")
                {
                    <li class="nav-item mb-4">
                        <a class="nav-link text-white" href="@Url.Action("UnverifiedUsers", "User" , new { id = ViewBag.UserId})">
                            <i class="bi bi-people"></i> Manage Users
                        </a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("SendMoney", "Transaction")">
                        <i class="bi bi-box-arrow-up-right me-2"></i> Send Money
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("RequestMoney", "Transaction")">
                        <i class="bi bi-box-arrow-down-left me-2"></i> Request Money
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("Deposit", "Card")">
                        <i class="bi bi-arrow-down-circle me-2"></i> Deposit to Wallet
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("Withdraw", "Card")">
                        <i class="bi bi-arrow-up-circle me-2"></i> Withdraw from Wallet
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("Wallets", "User")">
                        <i class="bi bi-wallet2 me-2"></i> Wallets
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("Cards", "User")">
                        <i class="bi bi-credit-card-2-front me-2"></i> Cards
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("CardTransactions", "Card")">
                        <i class="bi bi-bank2 me-2"></i> Card Transactions
                    </a>
                </li>
                <li class="nav-item mb-5">
                    <a class="nav-link text-white" href="@Url.Action("WalletTransactions", "Wallet")">
                        <i class="bi bi-currency-exchange me-2"></i> Wallet Transactions
                    </a>
                </li>

                <li class="nav-item d-flex justify-content-center">
                    <form asp-controller="Authentication" asp-action="Logout" method="post" class="w-100">
                        <button type="submit" class="btn btn-outline-danger w-100">Logout</button>
                    </form>
                </li>

            </ul>
        </div>
    </div>

    <div class="bg-dark">
        <main role="main" class="pt-3 pb-3">
            <!-- Start Error Modal -->

            @if (TempData["ErrorMessage"] != null && !string.IsNullOrEmpty(TempData["ErrorMessage"].ToString()))
            {
                <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-danger" id="errorModalLabel">Error</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-danger">
                                    @TempData["ErrorMessage"]
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
            <!-- End Error Modal -->
            <!-- Start SuccessMessage Modal -->
            @if (TempData["SuccessMessage"] != null && !string.IsNullOrEmpty(TempData["SuccessMessage"].ToString()))
            {
                <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-success" id="errorModalLabel">Success</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-success">
                                    @TempData["SuccessMessage"]
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- End SuccessMessage Modal -->
            @if (TempData["InfoMessage"] != null && !string.IsNullOrEmpty(TempData["InfoMessage"].ToString()))
            {
                <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-secondary" id="errorModalLabel">Info</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-info">
                                    @TempData["InfoMessage"]
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- End SuccessMessage Modal -->
            @RenderBody()
        </main>

    </div>

    <footer class="border-top footer text-muted bg-dark-2">
        <div class="container">
            &copy; 2024 - VirtualWallet.WEB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script type="text/javascript">

    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
